<h4>Viewing Posts</h4>
{{#link-to "posts.new"}}<strong>New Post</strong>{{/link-to}}

{{#each post in model}}
<div class="post">
  <h2>
   {{post.title}}
  </h2>
  <div>
    {{post.body}}
  </div>
  <button {{action "edit"}}>Edit</button>
  <button {{action "delete"}}>Delete</button>
</div>
 {{/each}}

 {{outlet}}
