{{#link-to "posts.new"}}<strong>New Post</strong>{{/link-to}}

{{outlet}}

{{#each post in model itemController="post"}}
<div class="post">
  {{#if post.isEditing}}
  <h2>
   {{post.title}}
  </h2>
  <div>
    {{post.body}}
  </div>
  <button {{action "editPost" }}>Edit</button>
  <button {{action "delete" post}}>Delete</button>
  {{else}}
  <h2>OMG EDITING!</h2>
  {{/if}}
</div>
 {{/each}}
