{{#link-to "posts.new"}}<strong>New Post</strong>{{/link-to}}

{{outlet}}

{{#each post in sortedPosts itemController="post"}}
<div class="post">
  {{#if post.isEditing}}
  <h2>
   {{post.model.title}}
  </h2>
  <div>
    {{post.model.body}}
  </div>
  <button {{action "editPost" }}>Edit</button>
  <button {{action "delete" post.model}}>Delete</button>

  {{else}}
  <h2>
   {{input value=post.model.title}}
  </h2>
  <div>
    {{textarea value=post.model.body}}
  </div>
  <button {{action "save" post.model}}>Save</button>
  <button {{action "delete" post.model}}>Delete</button>

  {{/if}}
</div>
 {{/each}}
